/* left side styling */
body{
    margin: 0 auto;
    padding: 0 auto;
    height: auto;
}
#left-side{
    background-image: url(../images/regal-teal.png);
    width: auto;
    height: auto;
    box-shadow: 3px 2px 1px rgb(190, 189, 189);
}
nav{
    margin: 15px 0 0 35px;
    font-family: 'Comfortaa', cursive;
}
#social-media{
    padding: 450px 5px 35px 40px;
}
/* right side about page styling */
#right-side-about{
    margin-top: 65px;
    font-family: 'Comfortaa', cursive;
}
#intro-text{
    text-align: center;
    margin-bottom: 70px;
}
#intro-text h2{
    font-size: 3.9em;
}
#intro-text h4{
    font-size: 1.9em;
}
#tech-desc{
    padding-left: 95px;
}

#tech-list li{
    border: none;
    font-family: 'Comfortaa', cursive;
    padding: .25rem .25rem;
}
#info-text p{
    text-align: center;
}
/* footer styling */
#footer {
    position: fixed;
    padding-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(220, 270, 232);
    color: black;
    text-align: center;
    font-family: 'Euphoria Script', cursive;
}



