/* left side styling */
body{
    margin: 0 auto;
    padding: 0 auto;
    height: auto;
}
#left-side{
    background-image: url(../images/regal-teal.png);
    width: auto;
    height: auto;
    box-shadow: 3px 2px 1px rgb(190, 189, 189);
}
nav{
    margin: 15px 0 0 35px;
    font-family: 'Comfortaa', cursive;
}
#social-media{
    padding: 450px 5px 35px 40px;
}
/* right side about page styling */
#right-side-about{
    margin-top: 35px;
    font-family: 'Comfortaa', cursive;
}
#intro-text{
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(220, 270, 232);
}
#intro-text h2{
    font-size: 3.9em;
}
#intro-text h4{
    font-size: 1.7em;
}
#tech-desc{
    padding-left: 95px;
}

#tech-list li{
    border: none;
    font-family: 'Comfortaa', cursive;
    padding: .15rem .25rem;
}
#software-desc{
    padding-left: 95px;
}

#software-list li{
    border: none;
    font-family: 'Comfortaa', cursive;
    padding: .25rem .25rem;
}
#info-text p{
    text-align: center;
}

/* web portfolio page */
.gallery1 {
    position: relative;
    width: 100%;
  }
  .gallery2 {
    position: relative;
    width: 100%;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(220, 270, 232);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color:rgb(220, 270, 232);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .gallery1:hover .overlay1 {
    width: 100%;
  }
  .gallery2:hover .overlay2 {
    width: 100%;
    left: 0;
  }
  
  .text { 
    color: rgb(158, 156, 156);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  a.caption-link {
      color: black;
  }

/* design portfolio page */


.design img {
    border-radius: 1%;
    transition: .3s ease;
    box-shadow: 0 2px 2px #000;
    padding-bottom: 30px;
}

.design img:hover {
    transform: scale(1.6);
    transition: .3s ease;
}

.graphics {
    padding-top: 40px;
    padding-bottom: 30px;
}


/* contact page */

button {
    margin-top: 8px;
}
.btn:hover{
    background-color: rgb(220, 270, 232);
    color: black;
}
/* footer styling */
#footer {
    position: fixed;
    padding-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(220, 270, 232);
    color: black;
    text-align: center;
    font-family: 'Euphoria Script', cursive;
}
/* media queries */

/* Large devices (desktops, 1141px and up) */
@media (max-width: 1141px) {
#social-media{
    padding: 380px 5px 35px 45px;
}
nav{
    margin-left: 10px;
}
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
#social-media{
    padding-left: 35px;
    padding-top: 420px;
}
#social-media img{
    width: 70%;
    height: auto;
}
nav{
margin-left: -20px;
font-size: 0.8em;
}
#right-side-about{
    margin-top: 45px;
    font-family: 'Comfortaa', cursive;
}
#intro-text{
    text-align: center;
    margin-bottom: 60px;
    border-bottom: 2px solid rgb(220, 270, 232);
}
#intro-text h2{
    font-size: 2.9em;
}
#intro-text h4{
    font-size: 1.1em;
}
#tech-desc{
    padding-left: 65px;
}

}
 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {
nav{
    margin-left: -30px;
}
#tech-desc{
    padding-left: 15px;
}
 }


